form {
    border:1px solid red;
    margin:0 auto;
}
.form-group {
    margin: 2% 2%;
    padding: 2% 5%;
}
br {
  clear: both;
}
:disabled{
  cursor:not-allowed;
}

div.div-container {
    height:auto;
    margin:0 auto;
    border:1px solid blue;

}
div.header {
  text-align: center;
  height:auto;
  margin:0 auto;
}

.modal.modal-wide .modal-dialog {
  width: 90%;
}
.modal-wide .modal-body {
  overflow-y: auto;
}

