/* line 3, ../sass/app.sass */
form {
  border: 1px solid red;
  margin: 0 auto;
}

/* line 7, ../sass/app.sass */
.form-group {
  margin: 2% 2%;
  padding: 2% 5%;
}

/* line 11, ../sass/app.sass */
br {
  clear: both;
}

/* line 14, ../sass/app.sass */
:disabled {
  cursor: not-allowed;
}

/* line 18, ../sass/app.sass */
div.div-container {
  height: auto;
  margin: 0 auto;
  border: 1px solid blue;
}
/* line 22, ../sass/app.sass */
div.header {
  text-align: center;
  height: auto;
  margin: 0 auto;
}

/* line 27, ../sass/app.sass */
.modal.modal-wide .modal-dialog {
  width: 90%;
}

/* line 30, ../sass/app.sass */
.modal-wide .modal-body {
  overflow-y: auto;
}
