 <form action='complete' method='POST' enctype='multipart/form-data'  id="formInvio" class='form-horizontal'>

                <div class="row">
                <div class="col-md-12 initial" >
                    <h3>{{name.value}}</h3>
                    <h5>{{description.value}}</h5>
                    <hr>
                </div>
                </div>
                <div class="row">
                <div class="col-md-6 initial" >
                    <p class="init">Click here</p>
                </div>
                <div class="col-md-6 initial">
                        <p class="init">Or here</p>
                </div>
                </div>
                <div class="row">
                <div class=" col-sm-10">
                    <div class="form-group">
                            <button class='btn btn-small btn-primary'  name='' value='Complete' type="button" >Completa attività</button>
                    </div>
                </div>
                  </div>
             </form>
