<div class="form-group">
<label >{{pinLabel}}</label>
<div class="control">

<div class="{{elementCss}}">
      {{#if dates}}
      <select data-type="date" disabled>
      {{#each dates}}<option value="{{this}}">{{this}}</option>{{/each}}
      </select>{{/if}}
      {{#if months}}
      <select data-type="month" disabled>{{#each months}}
      <option value="{{this.month}}">{{this.value}}</option>{{/each}}
      </select>{{/if}}
      <select data-type="year" disabled>{{#each years}}
      <option value="{{this}}" >{{this}}</option>{{/each}}</select>
      <!-- FTL tag selected <#if ({{this}} == {{../elementId}}> selected="selected" </#if>   -->
</div>
</div>
</div>
